cargo-features = ["profile-rustflags"]


[workspace]
members = ["os"]
exclude = [
    "rustos-api",
    "kernel",
    "drivers/base_driver",
    "drivers/acpi",
    "drivers/pci",
    "drivers/ide",
    "drivers/disk",
    "drivers/partmgr",
    "drivers/volmgr",
    "drivers/mountmgr",
    "drivers/fat32",
    "drivers/i8042",
]
resolver = "2"
