cargo-features = ["profile-rustflags"]


[workspace]
members = ["os", "kernel", "kernel_executor"]
exclude = ["rustos-api"]
resolver = "2"

[profile.dev]
opt-level = 3
lto = false
codegen-units = 1
panic = "abort"
debug = true

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
panic = "abort"
debug = true
