[unstable]
bindeps = true
[target.x86_64-unknown-none]
rustflags = [
    "-C",
    "link-arg=-no-pie",
    "-C",
    "relocation-model=static",
    "-C",
    "code-model=large",
    "-C",
    "link-args=--image-base=0xFFFF850000000000",
]
