[unstable]
bindeps = true
[target.x86_64-unknown-none]
rustflags = ["-C", "code-model=large"]
[profile.dev.package.kernel]
rustflags = [
    "-C",
    "link-args=--image-base=0xFFFF850000000000",
    "-C",
    "relocation-model=static",
    "-C",
    "code-model=large",
]

[profile.release.package.kernel]
rustflags = [
    "-C",
    "link-args=--image-base=0xFFFF850000000000",
    "-C",
    "relocation-model=static",
    "-C",
    "code-model=large",
]
