[build]
target = "../../targets/x86_64-rustos-pe.json"

[lib]
crate-type = ["cdylib"]

[target.x86_64-rustos-pe]
rustflags = [
    "-C",
    "panic=abort",
    "-C",
    "relocation-model=pic",
    "-C",
    "code-model=large",
    "-C",
    "link-arg=/SUBSYSTEM:NATIVE",
    "-C",
    "link-arg=/ENTRY:DriverEntry",
    "-C",
    "link-arg=/NODEFAULTLIB",
    "-C",
    "link-arg=/DYNAMICBASE",
    "-C",
    "link-arg=/FIXED:NO",
    "-C",
    "link-arg=/EXPORT:DriverEntry",
]
[unstable]
build-std = ["core", "alloc", "compiler_builtins", "panic_abort"]

build-std-features = ["compiler-builtins-mem"]
